/* 
Project Name: Maptiks New
Author: Julien Jacques @julienjacques on the tweets
*/



/*----------------------------------------------------------------------------- 
=Colors

blue: #288FB2
light grey background: #f8f8f8
background dark: #338474F
orange: #ef6c00
-----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------- 
=HERO
-----------------------------------------------------------------------------*/

body {
	font-size: 200px;
}

.app-graph-reverse {
  width: 150%;
  position: absolute;
  right: -40;
  top: 0px;
}

#brand-icon {
	width: 25px;
	height: 15px;
}


.browser-image {
	width: 100px;
	height: 100px;
}

/*----------------------------------------------------------------------------- 
=TEST THIS
-----------------------------------------------------------------------------*/
.brand-icon-block {
  padding-bottom: 20px;
}
@media (min-width: 68px) {
  .brand-icon-block {
    padding-bottom: 0;
  }
}

.block-title h1 {
	font-family: 'Open Sans', sans-serif;
}

}

h2 {
	font-family: 'Open Sans', sans-serif;
}