
/* MAIN CSS file for my awesome edits 

Created by Julien Jacques. Find me on the tweets @julienjacques
For Maptiks latest and greatest website.

documentation:
http://themes.getbootstrap.com/products/marketing

COLOURS:

blue #288fb2
blue hover #22abdf
light-orange #ff8e31
orange #ef6c00
dark blue #38474f
light grey #f8f8f8
blue hover #2D95FF
light green #567C5C
#6BA1CF

#c2c2c2


blueish-grey : #8496A5
blueish-blue: 6EA4CF;
*/


.no-background {
	background-color: white;
}


.btn-info-outline {
	border-color: #0b89ff
}

.btn  {
	border-radius: 2px;
}

.feature-image{
	height: 135px;
	border: solid 1px;
	border-color: #e1e1e1;
	border-radius: 2px;
}

.cust-block {
	background-color: black;
	color: black;
	border-bottom: solid 1px black;
}

.navbar-right {
	margin-top: 4px;

}

.a.navbar-brand .strong {
	background-color: black;
}

.logo-image {
	height: 42px;
	margin-top: -8px;

}

.app-footer {
	background-color: #38474f;
}

.app-marketing-grid {
	padding-bottom: 1.022022em;
	padding-top: 2.02020202em;
}

.grey-top {
	border-top: solid 1px #e1e1e1;

}

.left {
	text-align: left;
}

.browser-image {
	width: 490px;
	height: 100%
	border-radius: 2px;
}

.app-ribbon {
	background: #38474f;
}


.app-code-block{
	background-color: #38474f;
}

.btn-primary {
	color: #ffffff;
	background-color: #ef6c00;
	border-color: #ef6c00;
	border-radius: 2px;
}

.btn-primary:hover {
	color: #ffffff;
	background-color: #ff8e31;
	border-color: #ef6c00;
}

.btn-default {
	border-radius: 2px;
}

.stage-shelf {
	background-color: white;
}

.nav-bordered.nav-stacked {
	color: #2D95FF
}

.no-top {
	margin-top: -50px;
}

/* Fonts and stuff*/


h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.3em;
	letter-spacing: 0.0em;
}

h1.block-title {
	line-height: 1.4;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}

/* Header stuff and things*/

#top-nav-cta {
	margin-top: -7px;
}

.block .block-inverse .block-fill-height .app-header .app-header-short {
	display: table;
	width: 100%;
	height: 25vh;
}


#nav-square-icon {
	width: 35px;
	margin-left: 30px;
	margin-bottom: 8px;
}

.integration-images {
	width: 260px;
	height: 100%;
	position: relative;
	vertical-align: middle;
}

.integration-images-small {
	width: 160px;
	height: 100%;
}

.margin-top-minus-60 {
	margin-top: -60px;
}

.margin-top-minus-80 {
	margin-top: -100px;
}

.top-margin {
	margin-top: 3.1020202em;
}


/* Forms */


label {
    margin-top: 5px;
    font-color: #8496A5;
    font-family: 'Open Sans', sans-serif;
}

input, textarea {
    width:439px;
    height:45px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    color:#3a3a3a;
    border-radius:2px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}


#submit {
    width:140px;
    height: 45px;
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    text-color: black;
}

	#submit:hover {
	    opacity:.9;
	}
