
/* MAIN CSS file for my awesome edits 

Created by Julien Jacques. Find me on the tweets @julienjacques.
For Maptiks latest and greatest website.

documentation:
http://themes.getbootstrap.com/products/marketing
*/



.browser-image {
	width: 440px;
	height: 100%
}





/* Fonts and stuff*/


h1 {
	font-family: 'Open Sans', sans-serif;
}


h3 {
	font-family: 'Open Sans', sans-serif;
}